{{- if .url -}}
<a
    {{ if not site.Params.referrer }}
    rel="noreferrer"
    {{ end }}
    href="{{- .url -}}"
    target="_blank"
    class="no-underline inline-flex items-center justify-left"
    {{ with .title }}
    title="{{ . }}"
    {{ end }}>
  <span class="underline" class="{{ .Scratch.Get "classes" }}">{{- htmlUnescape .text | default .url -}}</span>
  <svg class="w1 h1 pl1">
    <use href="#fa-external-link-alt"></use>
  </svg>
</a>
{{- else }}
  {{ errorf "no url found in link" . }}
{{- end -}}
