<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center">
    <div class="f5 fw4 white-70 pv2 ph3 w-60">
      &copy; {{ now.Format "2006"}} {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ end }}
      —
      {{ with .Site.Params.contentLicense }}
      Content: <a class="white-70 hover-white" href="{{ .url }}" target="_blank">{{ .text }}</a>,
      {{ end }}
      {{ with .Site.Params.codeLicense }}
      Code: <a class="white-70 hover-white" href="{{ .url }}" target="_blank">{{ .text }}</a>, unless otherwise noted.
      {{ end }}

      <p class="f6 fw6 pv0 mv2">
        View the
        {{ with .Site.Params.repository }}
        <a class="white-70 hover-white" href="{{ .url }}" target="_blank">source</a>
        {{ end }}
        for this site.
        <a class="white-70 hover-white" href="{{ref . "privacy"}}">Privacy</a>.
      </p>
    </div>
    <div class="f4 fw4 white-70 pv2 ph3">
      <ul class="p10 mr3 f6 f5-ns">
        <li class="list fw4 dib pr3">
          <a class="white-70 hover-white no-underline" href="{{ref . "about"}}">About</a>
        </li>
        <li class="list fw4 dib pr3">
          <a class="white-70 hover-white no-underline" href="{{ref . "contribute"}}">Contribute</a>
        </li>
        <li class="list fw4 dib pr3">
          <a class="white-70 hover-white no-underline" href="{{ref . "faq"}}">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
